<%- include('../include/user-header') %>
    <div style="min-height: 400px;" class="p-1">
        <h2>We Layout and you print!</h2>


        <div class="my-2 d-flex  align-items-start template-container  gap-10" style="width: 100%;">
            <% data.forEach((data)=>{%>

                <div id="<%= data.template_id %>" class="each-template-container  ">

                    <div class="hover-opactiy d-flex  justify-content-center flex-direction-column">
                        <img src="images/ci/<%= data.canvas_image %>" class="img modal-view" width="370" alt="">
                        <h3 class="text text-dark title modal-view">
                            <%= data.template_name %>
                        </h3>
                        <p class="description">
                            <%= data.template_description %>

                        </p>
                    </div>


                </div>

                <% }) %>


        </div>

    </div>
    <div class="modal-template flex-direction-column ">
        <div style="position:relative">


            <div class="modal-header  d-flex justify-content-end">
                <h3 class="btn btn-md btn-primary close" style="width:100px;text-align: center; font-size:20px;">Close
                </h3>


            </div>
            <div class="modal-content">

                <div class="modal-body d-flex  align-items-start gap-10">
                    <div>
                        <img class="modal-template-image" width="100%" src="" alt="">
                    </div>
                    <div style="width:800px;" class="">

                        <h2 class=" modal-template-title mt-1">
                        </h2>
                        <p class="modal-template-description">

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>



    <%- include('../include/footer') %>