<%- include('../include/user-header') %>
    <div style="min-height: 400px;" class="p-1">
        <h2>We Layout and you print!</h2>


        <div class="template-container" style="width: 100%;">
            <% data.forEach((data)=>{%>

                <div id="<%= data.template_id %>" class="each-template-container  ">

                    <div class="hover-opactiy d-flex  justify-content-center flex-direction-column">
                        <img src="images/ci/<%= data.canvas_image %>" class="img modal-view" width="270" alt="">
                        <input type="hidden" class="modal-id">
                        <h3 class="text text-dark title modal-view">
                            <%= data.template_name %>
                        </h3>
                        <div class="hide description">
                            <%- data.template_description %>

                        </div>
                    </div>


                </div>

                <% }) %>


        </div>

    </div>
    <div class="modal-template">
        <div class="modal-header  d-flex justify-content-end">



            <h3 class="btn btn-md btn-primary close">Close</h3>
        </div>
        <div class="modal-content">
            <div class="modal-body d-flex flex-direction-column ">
                <div class="img-container">
                    <img class="modal-template-image" src="" alt="">
                </div>

            </div>
            <div class="d-flex flex-direction-column align-items-start bg-white template-details p-1">
                <h2 class=" modal-template-title">
                </h2>
                <div class="modal-template-description">

                </div>
                <input type="hidden" class="modal-id">



            </div>
        </div>
    </div>
    </div>


    <%- include('../include/footer') %>